@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__inner {
  padding: 40px 4px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo {
  display: block;
}

.menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  .menu {
    display: block;
    margin-left: auto;
  }
  .navbar {
    width: 100%;
    padding: 40px 0;
    display: none;
    position: absolute;
    top: 107px;
    background: #3A3054;
    border-radius: 10px;
  }
  .navbar__open {
    z-index: 9;
    display: block;
  }
  .sayt-nav {
    list-style: none;
  }
  .nav-item {
    text-align: center;
    margin-bottom: 30px;
  }
  .link {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .login {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 34px;
  }
  .login::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    top: 0;
    background: #9E9AA8;
    mix-blend-mode: normal;
    opacity: 0.25;
  }
  .link-start {
    margin-top: 24px;
    padding: 12px 104px 9px;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #2BD0D0;
    border-radius: 28px;
  }
}
@media only screen and (min-width: 701px) {
  .site-logo {
    margin-right: 45px;
  }
  .navbar {
    width: 100%;
    max-width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sayt-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
  }
  .nav-item {
    list-style: none;
  }
  .link {
    margin-right: 30px;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .link:hover {
    color: #34313D;
  }
  .link-start {
    padding: 9px 23px;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    background: #2BD0D0;
    border-radius: 28px;
  }
  .link-start:hover {
    background-color: #9AE3E3;
  }
}
.hero {
  padding: 80px 0 181px;
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 450px) calc(50% - 35px);
}

.hero__wrapper {
  position: relative;
}

.hero__inner {
  max-width: 564px;
}

.hero__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313D;
}

.hero__text {
  margin: 5px 0 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9E9AA8;
}

.hero__link {
  padding: 14px 40px 12px;
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  .hero {
    background-image: url(../images/hero-bg-tel.svg);
    background-position: calc(100% + 175px) calc(50% - 71px);
  }
  .hero__inner {
    max-width: 350px;
  }
  .hero__title {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.05px;
  }
  .hero__text {
    margin: 15px 0 32px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.122727px;
  }
}
@media only screen and (max-width: 550px) {
  .hero {
    padding: 375px 0 181px;
    background-position: calc(0% + 20px) 0%;
  }
  .hero__inner {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.shorten {
  padding: 52px 64px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -280px;
  max-width: 1100px;
  left: 0;
  right: 0;
  margin: 0;
  background-image: url(../images/input-bg.svg);
  background-size: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 651px) {
  .form-input-username {
    width: 100%;
  }
}
.form-input-username {
  display: inline-block;
  max-width: 719px;
  padding: 14px 0 14px 32px;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(52, 49, 61, 0.5019607843);
  background-color: #FFFFFF;
  border: 3px solid;
  mix-blend-mode: normal;
}

.form-input-username:not(:-moz-placeholder-shown):not(:focus):invalid ~ .error {
  opacity: 1;
}

.form-input-username:not(:-ms-input-placeholder):not(:focus):invalid ~ .error {
  opacity: 1;
}

.form-input-username:not(:placeholder-shown):not(:focus):invalid ~ .error {
  opacity: 1;
}

.form-input-username:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 3px solid #F46363;
}

.form-input-username:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 3px solid #F46363;
}

.form-input-username:not(:placeholder-shown):not(:focus):invalid {
  border: 3px solid #F46363;
}

.error {
  display: inline-block;
  margin-top: 75px;
  position: absolute;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.109091px;
  color: #F46363;
  opacity: 0;
}

.form-button {
  min-width: 198px;
  display: inline-block;
  margin-left: 24px;
  padding: 18px 40px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background: #2BD0D0;
  border-radius: 10px;
}
.form-button:hover {
  background-color: #9AE3E3;
}

@media only screen and (max-width: 650px) {
  .shorten {
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-button {
    margin: 0;
    margin-top: 30px;
  }
}
.statistics {
  padding: 204px 0 112px;
  background-color: #F2F2F2;
}

.statistics__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #34313D;
}

.statistics__text {
  max-width: 540px;
  margin: 18px auto 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}

.statistics__wrapper {
  position: relative;
}

.line {
  position: absolute;
  width: 100%;
  top: 152px;
  height: 8px;
  background-color: #2BD0D0;
}

.statistics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.statistics__item {
  position: relative;
  display: inline-block;
  padding: 77px 32px 41px;
  background: #FFFFFF;
  border-radius: 5px;
}

.statistics__item:nth-child(2) {
  margin: 44px 30px 0;
}

.statistics__item:nth-child(3) {
  margin: 88px 0 0;
}

@media only screen and (min-width: 726px) {
  .statistics__item::before {
    position: absolute;
    content: "";
    width: 88px;
    height: 88px;
    top: -44px;
    background-image: url(../images/brand.svg);
    background-repeat: no-repeat;
  }
  .statistics__item:nth-child(2)::before {
    background-image: url(../images/detailed.svg);
  }
  .statistics__item:nth-child(3)::before {
    background-image: url(../images/fully.svg);
  }
}
.statistics__item-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #34313D;
}

.statistics__item-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9E9AA8;
}

@media only screen and (max-width: 725px) {
  .statistics {
    padding: 160px 0 80px;
    background-color: #F2F2F2;
  }
  .statistics__title {
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.7px;
  }
  .statistics__text {
    margin-bottom: 92px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.109091px;
  }
  .statistics__wrapper {
    position: relative;
  }
  .line {
    position: absolute;
    width: 8px;
    left: 50%;
    top: 44px;
    height: 90%;
    background-color: #2BD0D0;
  }
  .statistics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
  }
  .statistics__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 77px 32px 41px;
    background: #FFFFFF;
    border-radius: 5px;
  }
  .statistics__item:nth-child(2) {
    margin: 92px 0;
  }
  .statistics__item:nth-child(3) {
    margin: 0;
  }
  .statistics__item-img {
    position: relative;
    width: 88px;
    margin: 0 auto;
  }
  .statistics__item .statistics__item-img::before {
    position: absolute;
    content: "";
    width: 88px;
    height: 88px;
    top: -121px;
    margin: 0 auto;
    background-image: url(../images/brand.svg);
    background-repeat: no-repeat;
  }
  .statistics__item:nth-child(2) .statistics__item-img::before {
    background-image: url(../images/detailed.svg);
  }
  .statistics__item:nth-child(3) .statistics__item-img::before {
    background-image: url(../images/fully.svg);
  }
  .statistics__item-title {
    text-align: center;
  }
  .statistics__item-text {
    text-align: center;
  }
}
.links {
  padding: 57px 0;
  background-image: url(../images/boost-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.links__inner {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.site-footer {
  padding: 72px 0;
  background-color: #232127;
}

.footer__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  margin-right: auto;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 461px;
  margin-right: 100px;
}

.footer__wrapper:not(:last-child) {
  margin-right: 80px;
}

.footer__title {
  margin-bottom: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

.footer__text {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
}

.footer__text:hover {
  color: #2BD0D0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  color: #FFFFFF;
}

.icon:not(:last-child) {
  margin-right: 24px;
}

.icon:hover {
  color: #2BD0D0;
}

@media only screen and (max-width: 1000px) {
  .footer__box {
    position: absolute;
    top: 100px;
  }
  .footer__block {
    margin-right: 0;
  }
}
@media only screen and (max-width: 700px) {
  .site-footer {
    padding: 54px 0;
    background-color: #232127;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: 0 auto 47px;
  }
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 112px;
    margin: 0 auto;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper:not(:last-child) {
    margin: 0 0 40px 0;
  }
  .footer__box {
    position: relative;
    margin: 48px auto 0;
    top: 0;
  }
}/*# sourceMappingURL=main.css.map */